header, main, footer {
    padding-left: 300px;
}

i{
  cursor: pointer;
}

i.add{
  color:green;
  background-color: white;
  vertical-align: middle;
  font-size: 2rem;
}

.actions a,
.actions i{
  padding: 5px;
  color: green;
}

.actions i:first-child,
.actions a:first-child{
  background-color: #2196f3;
  color:#fff;
}

.actions i:last-child{
  background-color: #e53935;
  color:#fff;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
