<app-header></app-header>
<main>
    <section class="title pad-section">
        <div class="row rooms">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="center-align">Edição de Sala</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <form class="col s12 offset-s0 m8 offset-m2" #form_room_update="ngForm" (submit)='save(room.id)' >
                            <div class="row">
                                <div class="input-field">
                                    <input type="text" name="name" class='validate' placeholder="sala" [(ngModel)]="room.name" #name="ngModel" required>
                                    <label class="active" for="name">Nome</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field">
                                    <input type="text" name="numero" class="validate" placeholder="número da sala" [(ngModel)]="room.number" #number="ngModel"
                                        required>
                                    <label for="number" class="active">Número da Sala</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6 l6">
                                    <button type="submit" class="btn_salvar btn waves-effect indigo">Salvar</button>
                                </div>
                                <div class="input input-field col s12 m6 l6">
                                    <a [routerLink]="['/rooms']" class='btn_voltar btn waves-effect pink'>Voltar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12">
                        <app-toast></app-toast>                        
                    </div>                    
                </div>
            </div>
        </div>
    </section>
</main>