<div id="dialog" class="ng-dialog">
  <div class="dialog-content">
      <div class="dialog-header">
        <span class="close" id="closeButton">&times;</span>
        <h5 style="min-height:16px">{{title}}</h5>
      </div>
      <div class="dialog-body">
        <p>{{message}}</p>        
      </div>
      <div class="dialog-footer">
        <a id="cancelButton" class="waves-effect waves-light btn">{{cancelText}}</a>
        <a id="okButton" class="waves-effect waves-light red darken-1 btn">{{okText}}</a>        
      </div>
    </div>
</div>